<div class="container" fxLayout="row" fxLayoutAlign="space-around center">
  <h1>
    Website App
  </h1>
  <h3>
    <a href="http://localhost:4000/admin/?userId:928282822&sessionKey:asjnd8dnasd8asdn3dasdasd,status:active"
      mat-raised-button>
      Navigate To Admin
    </a>
    <a href="http://localhost:4100" mat-raised-button>
      Navigate To Dashboard
    </a>
  </h3>
</div>

<!-- <button (click)="navigateToAdmin()">
  Add Query Params
</button> -->
<br><br><br>
<div class="post-wrapper"> Posts List
  <ng-container *ngFor="let item of postList$|async as postList">
    <ul>
      <li>
        Title: {{item?.title}}
      </li>
      <li>
        Body: {{item?.body}}
      </li>
      <li>
        <button (click)="alertUser(item)">
          click to alert
        </button>
      </li>
    </ul>
  </ng-container>

</div>
