<div class="container" fxLayout="row" fxLayoutAlign="space-around center">
  <h1>
    Admin App
  </h1>
  <h3>
    <a href="http://localhost:4200" mat-raised-button>
      Navigate To Website
    </a>
    <a href="http://localhost:4100" mat-raised-button>
      Navigate To Dashboard
    </a>
  </h3>
</div>
<div class="post-wrapper"> Posts List
  <ng-container *ngFor="let item of postList$|async as postList">
    <ul>
      <li>
        Title: {{item?.title}}
      </li>
      <li>
        Body: {{item?.body}}
      </li>
      <li>
        <button (click)="alertUser(item)">
          click to alert
        </button>
      </li>
    </ul>
  </ng-container>

</div>
